<div class="component link-list tt-links-box">
    <ul>
        <li><a href="vehicle-overview.html">
            {{#is language "en"}}
                {{car_item_link_nav_en_1}}
            {{else}}
                {{car_item_link_nav_ar_1}}
            {{/is}}

        </a></li>
        <li><a href="#">
            {{#is language "en"}}
                {{car_item_link_nav_en_2}}
            {{else}}
                {{car_item_link_nav_ar_2}}
            {{/is}}
        </a></li>
    </ul>
</div>