<div class="row">
    <div class="component link-list tt-links-box no-border tt-split-four">
        <ul class="row">
            <li class="col-md-4 col-lg-3">
                <div class="tt-car-item">
                    <span class="offer-available">
                        Offer Available
                    </span>
                    <div class="image">
                        <img
                                src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02.png"
                                alt="" class="front">
                        <img
                                src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                                alt="" class="hover"></div>
                    <div class="title notranslate"><h3 class="notranslate">2017 كورولا موبايل</h3></div>
                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_starting}}
                        {{else}}
                            {{text_ar_starting}}
                        {{/is}}</span>
                        <div class="price-tag notranslate">
                            <h4>85,900 SR
                                <small>84,420 SR</small>
                            </h4>
                        </div>
                    </div>
                    {{> _item_overview_links }}
                </div>

            </li>
            <li class="col-md-4 col-lg-3">
                <div class="tt-car-item">
                    <span class="offer-available">
                        Offer Available
                    </span>
                    <div class="image">
                        <img
                                src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png"
                                alt="" class="front">
                        <img
                                src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                                alt="" class="hover"></div>
                    <div class="title notranslate"><h3 class="notranslate">2017 Prius, more text to check the alignment
                        of all elements</h3></div>
                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                        <div class="price-tag notranslate">
                            <h4>85,900 SR
                                <small>84,420 SR</small>
                            </h4>
                        </div>
                    </div>
                    {{> _item_overview_links }}
                </div>
            </li>

            <li class="col-md-4 col-lg-3">
                <div class="tt-car-item">
                    <div class="image"><img
                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/03.png"
                            alt=""></div>
                    <div class="title notranslate"><h3 class="notranslate">2017 Prius</h3></div>
                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                        <div class="price-tag notranslate"><h4>85,900 SR</h4>
                        </div>
                    </div>
                    {{> _item_overview_links }}
                </div>
            </li>

            <li class="col-md-4 col-lg-3">
                <div class="tt-car-item">
                    <div class="image"><img
                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/05.png"
                            alt=""></div>
                    <div class="title notranslate"><h3 class="notranslate">2017 كورولا موبايل</h3></div>
                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                        <div class="price-tag notranslate">
                            <h4>85,900 SR
                                <small>84,420 SR</small>
                            </h4>
                        </div>
                    </div>
                    {{> _item_overview_links }}
                </div>
            </li>
            <li class="col-md-4 col-lg-3">
                <div class="tt-car-item">
                    <div class="image"><img
                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/06.png"
                            alt=""></div>
                    <div class="title notranslate"><h3 class="notranslate">2017 Prius</h3></div>
                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                        <div class="price-tag notranslate">
                            <h4>85,900 SR
                                <small>84,420 SR</small>
                            </h4>
                        </div>
                    </div>
                    {{> _item_overview_links }}
                </div>
            </li>

        </ul>
    </div>
</div>
