<div class="content-hub-bg">
    <div class="container">
        <div class="main-heading">
            {{#is language "en"}}
                <h2>the latest from toyota</h2>
            {{else}}
                <h2>آخر الأخبار من تويوتا </h2>
            {{/is}}
        </div>
        <div class="component content-hub tt-content-hub">
            <div class="row">
                <div class="col-md-4">
                    <div class="hub-item hub-item-video" style="color: blue">

                        <div class="image">
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/hub/hub-image1.jpg"
                                 alt="image">
                        </div>

                        <!-- <div class="content venobox"
                              data-vbtype="video"
                              data-autoplay="true"
                              data-gallery-title="Exterior Gallery"
                              href="video:../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-3-clip.mp4"
                              title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo incididunt.3">-->

                        <a class="content venobox"
                           data-vbtype="video"
                           data-autoplay="true"
                           data-gallery-title="Exterior Gallery"
                           href="https://www.youtube.com/watch?v=C0DPdy98e4c"
                           title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo incididunt.3">

                            <div class="tt-aligner">
                                <div class="tt-aligner-item">

                                    {{#is language "en"}}
                                        <h4><strong class="tt-video-icon">
                                            <span>WATCH The Camry Safety
                                            Sense™ standard.</span></strong></h4>
                                    {{else}}
                                        <h4><a href="#">
                                              <span>

                                            فرامل وقوف السيارات الكهربائية

                                        </span></a></h4>

                                    {{/is}}

                                </div>

                            </div>

                        </a>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="hub-item hub-item-half">
                        <div class="image">
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/hub/hub-image2.jpg"
                                 alt="image">
                        </div>
                        <div class="content">

                            <div class="tt-aligner">
                                <div class="tt-aligner-item">



                                    {{#is language "en"}}
                                        <div class="tags-box">
                                            <a href="#." class="tag">Technology</a>
                                        </div>
                                        <h4>ELECTRIC PARKING BRAKE</h4>
                                        <p>You can use a button to manually activate C-HR’s Electric Parking Brake, or
                                            set
                                            it to
                                            automatically engage as you park your car. </p>

                                    {{else}}
                                        <div class="tags-box">
                                            <a href="#." class="tag">تكنولوجيا</a>
                                        </div>
                                        <h4>فرامل وقوف السيارات الكهربائية</h4>
                                        <p>يمكنك استخدام زر لتفعيل C-HR's Electric Parking Brake يدويًا ، أو ضبطه على
                                            التفاعل تلقائيًا أثناء إيقاف سيارتك. </p>
                                    {{/is}}



                                </div>
                                <div class="btn-content">
                                    <a href="" class="btn btn-link">   {{#is language "en"}}
                                        LEARN MORE
                                    {{else}}
                                        إعرف المزيد
                                    {{/is}}</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--</div>
                <div class="row">-->
                <div class="col-md-12">
                    <div class="hub-item hub-item-full">
                        <div class="image">
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/hub/hub-image3.jpg"
                                 alt="image">
                        </div>
                        <div class="content">

                            <div class="tt-aligner">
                                <div class="tt-aligner-item">



                                    {{#is language "en"}}
                                        <div class="tags-box">
                                            <span class="tag">News</span>
                                        </div>
                                        <h4>THE NEW 2018 Toyota C-HR</h4>
                                        <p>Distinctive style meets rebellious spirit in the 2018 Toyota C-HR.
                                            Introducing an
                                            edgy ride that effortlessly takes center stage. </p>
                                    {{else}}
                                        <div class="tags-box">
                                            <span class="tag">أخبار</span>
                                        </div>
                                        <h4> الجديدة 2018 تويوتا C-HR</h4>
                                        <p>يلتقي الطراز المميز مع روح التمرد في سيارة تويوتا C-HR 2018. تقديم ركوب منفعل
                                            يأخذ مكان الصدارة دون عناء. </p>
                                    {{/is}}



                                </div>
                                <div class="btn-content">
                                    <a href="" class="btn btn-link">   {{#is language "en"}}
                                        LEARN MORE
                                    {{else}}
                                        إعرف المزيد
                                    {{/is}}</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--</div>
                <div class="row">-->
                <div class="col-md-4">
                    <div class="hub-item hub-item-black-overlay" style="color: green">
                        <div class="image">
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/hub/hub-image4.jpg"
                                 alt="image">
                        </div>
                        <div class="content">

                            <div class="tt-aligner">
                                <div class="tt-aligner-item">


                                    {{#is language "en"}}
                                        <h4>It's human<br/> instinct, part of our DNA</h4>
                                    {{else}}
                                        <h4>إنها غريزة إنسانية ، وهي جزء الحمض النووي لدينا
                                        </h4>
                                    {{/is}}



                                </div>
                                <div class="btn-content">
                                    <a href="" class="btn btn-link"> mobilityforall.com</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="hub-item hub-item-half">
                        <div class="image">
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/hub/hub-image5.jpg"
                                 alt="image">
                        </div>
                        <div class="content">

                            <div class="tt-aligner">
                                <div class="tt-aligner-item">



                                    {{#is language "en"}}
                                        <div class="tags-box">
                                            <span class="tag">Safety</span>
                                        </div>

                                        <h4>STAR SAFETY SYSTEM</h4>
                                        <p>Land Cruiser comes standard with the Star Safety System, a suite of six
                                            advanced
                                            safety features that includes Vehicle Stability Control. </p>
                                    {{else}}
                                        <div class="tags-box">
                                            <span class="tag">السلامة</span>
                                        </div>
                                        <h4>نظام سلامة ستار </h4>
                                        <p>تأتي لاند كروزر قياسية مع نظام Star Safety System ، وهو مجموعة من ستة ميزات
                                            أمان متقدمة تشمل التحكم في ثبات السيارة </p>
                                    {{/is}}




                                </div>
                                <div class="btn-content">
                                    <a href="" class="btn btn-link">

                                        {{#is language "en"}}
                                            LEARN MORE
                                        {{else}}
                                            إعرف المزيد
                                        {{/is}}

                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="btn-align">
            <a href="vehicle-gallery.html" class="btn btn-primary">
                {{#is language "en"}}
                    See it all
                {{else}}
                    للمزيد
                {{/is}}


            </a>
        </div>

    </div>
</div>