---
title_en: Toyota
title_ar: Toyota

showInNav: true
navSortOrder: 2
---

{{> vehicle-overview-inpage-nav }}

<div id="specs-overlay-content" class="d-none">
    <div class="container">
        <div class="overlay-content clearfix">

            <h3 class="main">Avalon 2018</h3>
            <p>Select a model grade for comparison</p>

            <div class="link-box-space">

                <div class="component link-list tt-links-box no-border tt-links-radio">
                    <ul>
                        <li>
                            <div class="tt-car-item">
                                <div class="image">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02.png"
                                            alt="" class="front">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                                            alt="" class="hover"></div>

                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate"><h3>XLE</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate">
                                            <h4>85,900 SR
                                                <small>84,420 SR</small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png"
                                            alt="" class="front">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                                            alt="" class="hover"></div>
                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate"><h3>XLE Touring</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate">
                                            <h4>85,900 SR
                                                <small>84,420 SR</small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image"><img
                                        src="../needreplace/media/Project/ToyotaTheme/Common/images/items/03.png"
                                        alt=""></div>

                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate">
                                        <h3>Limited Navigation</h3></div>
                                    <div class="pricing">
                          <span class="label">{{#is language "en"}}
                              {{text_en_now}}
                          {{else}}
                              {{text_ar_now}}
                          {{/is}}</span>
                                        <div class="price-tag notranslate"><h4>85,900 SR</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image"><img
                                        src="../needreplace/media/Project/ToyotaTheme/Common/images/items/04.png"
                                        alt=""></div>
                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">


                                    <div class="title notranslate"><h3>Limited Premium</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate"><h4>85,900 SR</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02.png"
                                            alt="" class="front">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                                            alt="" class="hover"></div>

                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate"><h3>XLE</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate">
                                            <h4>85,900 SR
                                                <small>84,420 SR</small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png"
                                            alt="" class="front">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                                            alt="" class="hover"></div>
                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate"><h3>XLE Touring</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate">
                                            <h4>85,900 SR
                                                <small>84,420 SR</small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image"><img
                                        src="../needreplace/media/Project/ToyotaTheme/Common/images/items/03.png"
                                        alt=""></div>

                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate">
                                        <h3>Limited Navigation</h3></div>
                                    <div class="pricing">
                          <span class="label">{{#is language "en"}}
                              {{text_en_now}}
                          {{else}}
                              {{text_ar_now}}
                          {{/is}}</span>
                                        <div class="price-tag notranslate"><h4>85,900 SR</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image"><img
                                        src="../needreplace/media/Project/ToyotaTheme/Common/images/items/04.png"
                                        alt=""></div>
                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">


                                    <div class="title notranslate"><h3>Limited Premium</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate"><h4>85,900 SR</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02.png"
                                            alt="" class="front">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                                            alt="" class="hover"></div>

                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate"><h3>XLE</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate">
                                            <h4>85,900 SR
                                                <small>84,420 SR</small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png"
                                            alt="" class="front">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                                            alt="" class="hover"></div>
                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate"><h3>XLE Touring</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate">
                                            <h4>85,900 SR
                                                <small>84,420 SR</small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image"><img
                                        src="../needreplace/media/Project/ToyotaTheme/Common/images/items/03.png"
                                        alt=""></div>

                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate">
                                        <h3>Limited Navigation</h3></div>
                                    <div class="pricing">
                          <span class="label">{{#is language "en"}}
                              {{text_en_now}}
                          {{else}}
                              {{text_ar_now}}
                          {{/is}}</span>
                                        <div class="price-tag notranslate"><h4>85,900 SR</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image"><img
                                        src="../needreplace/media/Project/ToyotaTheme/Common/images/items/04.png"
                                        alt=""></div>
                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">


                                    <div class="title notranslate"><h3>Limited Premium</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate"><h4>85,900 SR</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02.png"
                                            alt="" class="front">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                                            alt="" class="hover"></div>

                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate"><h3>XLE</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate">
                                            <h4>85,900 SR
                                                <small>84,420 SR</small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png"
                                            alt="" class="front">
                                    <img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                                            alt="" class="hover"></div>
                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate"><h3>XLE Touring</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate">
                                            <h4>85,900 SR
                                                <small>84,420 SR</small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image"><img
                                        src="../needreplace/media/Project/ToyotaTheme/Common/images/items/03.png"
                                        alt=""></div>

                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">
                                    <div class="title notranslate">
                                        <h3>Limited Navigation</h3></div>
                                    <div class="pricing">
                          <span class="label">{{#is language "en"}}
                              {{text_en_now}}
                          {{else}}
                              {{text_ar_now}}
                          {{/is}}</span>
                                        <div class="price-tag notranslate"><h4>85,900 SR</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tt-car-item">
                                <div class="image"><img
                                        src="../needreplace/media/Project/ToyotaTheme/Common/images/items/04.png"
                                        alt=""></div>
                                <div class="radio-sec">
                                    <label class="radio-button">
                                        <input type="radio" name="car-select"/>
                                        <span class="custom-radio"></span>
                                    </label>
                                </div>
                                <div class="info">


                                    <div class="title notranslate"><h3>Limited Premium</h3></div>
                                    <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            {{text_en_now}}
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                        <div class="price-tag notranslate"><h4>85,900 SR</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>


                    </ul>
                </div>

            </div>

            <div class="btn-bar text-right">
                <a href="javascript:void(0)" class="btn btn-grey-2 btn-lg btn-outline btn-padd-1 btn-cancel">Cancel</a>
                <a href="javacript:void(0)" class="btn btn-primary btn-padd-1 btn-submit disabled">
                    Submit
                </a>


            </div>


        </div>
    </div>
</div>
<div class="tt-vehicle-compare-sec">
    <div class="container">
        <div class="main-heading">
            <div class="col-md-6 offset-md-3">
                {{#is language "en"}}
                    <h1>THE AVALON Specifications</h1>
                    <h2 class="paragraph">Explore options and packages available for the Avalon Touring. You can view full specifications
                        or
                        configure
                        the Avalon to your exact requirements.</h2>
                {{else}}
                    <h3>سيارات تويوتا
                    </h3>
                    <p>اعثر على سيارة تويوتا المثالية. تنقل من خلال مجموعة سيارات تويوتا الأخيرة
                    </p>
                {{/is}}
            </div>
        </div>

        <div class="component link-list tt-links-box no-border tt-split-four tt-specs-compare">
            <ul>
                <li>
                    <div class="tt-car-item">
                        <div class="image">
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02.png" alt=""
                                 class="front">
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png" alt=""
                                 class="hover">
                        </div>
                        <div class="info">

                            <div class="title notranslate"><h3>Touring</h3></div>
                            <div class="pricing">
                        <span class="label">{{#is language "en"}}
                            Starting
                        {{else}}
                            {{text_ar_now}}
                        {{/is}}</span>
                                <div class="price-tag notranslate"><h4>119,280 SR</h4>
                                </div>

                            </div>
                            <!--<a href="#specs-overlay-content" class="btn-cmd venobox-choose-car"
                               data-css="theme-white content-sized no-slides" data-vbtype="inline">change model</a>-->

                            <div class="component link-list tt-links-box">
                                <ul>
                                    <li><a href="#specs-overlay-content" class="btn-cmd venobox-choose-car"
                                           data-css="theme-white content-sized no-slides" data-vbtype="inline">change
                                        model</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </li>
                <li>
                    <a href="#specs-overlay-content" class="model-add-btn venobox-choose-car"
                       data-css="theme-white content-sized no-slides" data-vbtype="inline">
          <span class="icon">
            <strong>Add another model</strong>
          </span>
                    </a>
                </li>
                <li class="link-disabled">
                    <a href="#specs-overlay-content" class="model-add-btn venobox-choose-car "
                       data-css="theme-white content-sized no-slides" data-vbtype="inline">
          <span class="icon">
            <strong>Add another model</strong>
          </span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="component accordion tt-accordion tt-accordion-faqs tt-accordion-large tt-first-active">
            <div class="accordion-inner">
                <h4>Performance</h4>

                <div class="tt-content" style="display: none;">

                    <table class="table table-st1 first-col-bold head-highlight four-cols table-st1-responsive">
                        <thead>
                        <tr>
                            <td colspan="4">Engine</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-full-title">
                            <td colspan="4">Cylinders</td>
                        </tr>
                        <tr>
                            <td class="td-title">Cylinders</td>
                            <td>6 Cylinders</td>
                            <td>6 Cylinders</td>
                            <td>
                              <span class="value-true"></span>
                              <!--<img src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/icon-x.png" class="specs-ico" alt="">-->
                            </td>
                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Displacement</td>
                        </tr>
                        <tr>
                            <td class="td-title">Displacement</td>
                            <td>3.5</td>
                            <td>3.5</td>
                            <td>
                              <span class="value-false"></span>
                            </td>
                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Power</td>
                        </tr>
                        <tr>
                            <td class="td-title">Power</td>
                            <td>274</td>
                            <td>274</td>
                            <td>274</td>
                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Torque</td>
                        </tr>
                        <tr>
                            <td class="td-title">Torque</td>
                            <td>346</td>
                            <td>346</td>
                            <td>346</td>
                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Fuel consumption Km/l</td>
                        </tr>
                        <tr>
                            <td class="td-title">Fuel consumption Km/l</td>
                            <td>12.0</td>
                            <td>12.0</td>
                            <td>12.0</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-st1 first-col-bold head-highlight four-cols table-st1-responsive">
                        <thead>
                        <tr>
                            <td colspan="4">Transmission</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-full-title">
                            <td colspan="4">6 speed automatic</td>
                        </tr>
                        <tr>
                            <td class="td-title">6 speed automatic</td>
                            <td>Standard</td>
                            <td>Standard</td>
                            <td>Standard</td>
                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Front wheel drive</td>
                        </tr>
                        <tr>
                            <td class="td-title">Front wheel drive</td>
                            <td>Standard</td>
                            <td>Standard</td>
                            <td>Standard</td>
                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Paddle shift controls automatic</td>
                        </tr>
                        <tr>
                            <td class="td-title">Paddle shift controls automatic</td>
                            <td>Not Available</td>
                            <td>Not Available</td>
                            <td>Not Available</td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="accordion-inner">
                <h4>Exterior</h4>

                <div class="tt-content" style="display: none;">

                    <table class="table table-st1 first-col-bold head-highlight four-cols table-st1-responsive">
                        <thead>
                        <tr>
                            <td colspan="4">Engine</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-full-title">
                            <td colspan="4">Cylinders</td>
                        </tr>
                        <tr>
                            <td class="td-title">Cylinders</td>
                            <td>6 Cylinders</td>
                            <td>6 Cylinders</td>
                            <td>6 Cylinders</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Displacement</td>
                        </tr>
                        <tr>
                            <td class="td-title">Displacement</td>
                            <td>3.5</td>
                            <td>3.5</td>
                            <td>3.5</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Power</td>
                        </tr>
                        <tr>
                            <td class="td-title">Power</td>
                            <td>274</td>
                            <td>274</td>
                            <td>274</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Torque</td>
                        </tr>
                        <tr>
                            <td class="td-title">Torque</td>
                            <td>346</td>
                            <td>346</td>
                            <td>346</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Fuel consumption Km/l</td>
                        </tr>
                        <tr>
                            <td class="td-title">Fuel consumption Km/l</td>
                            <td>12.0</td>
                            <td>12.0</td>
                            <td>12.0</td>

                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-st1 first-col-bold head-highlight four-cols table-st1-responsive">
                        <thead>
                        <tr>
                            <td colspan="4">Transmission</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-full-title">
                            <td colspan="4">6 speed automatic</td>
                        </tr>
                        <tr>
                            <td class="td-title">6 speed automatic</td>
                            <td>Standard</td>
                            <td>Standard</td>
                            <td>Standard</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Front wheel drive</td>
                        </tr>
                        <tr>
                            <td class="td-title">Front wheel drive</td>
                            <td>Standard</td>
                            <td>Standard</td>
                            <td>Standard</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Paddle shift controls automatic</td>
                        </tr>
                        <tr>
                            <td class="td-title">Paddle shift controls automatic</td>
                            <td>Not Available</td>
                            <td>Not Available</td>
                            <td>Not Available</td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="accordion-inner">
                <h4>Interior</h4>

                <div class="tt-content" style="display: none;">

                    <table class="table table-st1 first-col-bold head-highlight four-cols table-st1-responsive">
                        <thead>
                        <tr>
                            <td colspan="4">Engine</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-full-title">
                            <td colspan="4">Cylinders</td>
                        </tr>
                        <tr>
                            <td class="td-title">Cylinders</td>
                            <td>6 Cylinders</td>
                            <td>6 Cylinders</td>
                            <td>6 Cylinders</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Displacement</td>
                        </tr>
                        <tr>
                            <td class="td-title">Displacement</td>
                            <td>3.5</td>
                            <td>3.5</td>
                            <td>3.5</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Power</td>
                        </tr>
                        <tr>
                            <td class="td-title">Power</td>
                            <td>274</td>
                            <td>274</td>
                            <td>274</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Torque</td>
                        </tr>
                        <tr>
                            <td class="td-title">Torque</td>
                            <td>346</td>
                            <td>346</td>
                            <td>346</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Fuel consumption Km/l</td>
                        </tr>
                        <tr>
                            <td class="td-title">Fuel consumption Km/l</td>
                            <td>12.0</td>
                            <td>12.0</td>
                            <td>12.0</td>

                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-st1 first-col-bold head-highlight four-cols table-st1-responsive">
                        <thead>
                        <tr>
                            <td colspan="4">Transmission</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-full-title">
                            <td colspan="4">6 speed automatic</td>
                        </tr>
                        <tr>
                            <td class="td-title">6 speed automatic</td>
                            <td>Standard</td>
                            <td>Standard</td>
                            <td>Standard</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Front wheel drive</td>
                        </tr>
                        <tr>
                            <td class="td-title">Front wheel drive</td>
                            <td>Standard</td>
                            <td>Standard</td>
                            <td>Standard</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Paddle shift controls automatic</td>
                        </tr>
                        <tr>
                            <td class="td-title">Paddle shift controls automatic</td>
                            <td>Not Available</td>
                            <td>Not Available</td>
                            <td>Not Available</td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="accordion-inner">
                <h4>Safety</h4>

                <div class="tt-content" style="display: none;">

                    <table class="table table-st1 first-col-bold head-highlight four-cols table-st1-responsive">
                        <thead>
                        <tr>
                            <td colspan="4">Engine</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-full-title">
                            <td colspan="4">Cylinders</td>
                        </tr>
                        <tr>
                            <td class="td-title">Cylinders</td>
                            <td>6 Cylinders</td>
                            <td>6 Cylinders</td>
                            <td>6 Cylinders</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Displacement</td>
                        </tr>
                        <tr>
                            <td class="td-title">Displacement</td>
                            <td>3.5</td>
                            <td>3.5</td>
                            <td>3.5</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Power</td>
                        </tr>
                        <tr>
                            <td class="td-title">Power</td>
                            <td>274</td>
                            <td>274</td>
                            <td>274</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Torque</td>
                        </tr>
                        <tr>
                            <td class="td-title">Torque</td>
                            <td>346</td>
                            <td>346</td>
                            <td>346</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Fuel consumption Km/l</td>
                        </tr>
                        <tr>
                            <td class="td-title">Fuel consumption Km/l</td>
                            <td>12.0</td>
                            <td>12.0</td>
                            <td>12.0</td>

                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-st1 first-col-bold head-highlight four-cols table-st1-responsive">
                        <thead>
                        <tr>
                            <td colspan="4">Transmission</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-full-title">
                            <td colspan="4">6 speed automatic</td>
                        </tr>
                        <tr>
                            <td class="td-title">6 speed automatic</td>
                            <td>Standard</td>
                            <td>Standard</td>
                            <td>Standard</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Front wheel drive</td>
                        </tr>
                        <tr>
                            <td class="td-title">Front wheel drive</td>
                            <td>Standard</td>
                            <td>Standard</td>
                            <td>Standard</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Paddle shift controls automatic</td>
                        </tr>
                        <tr>
                            <td class="td-title">Paddle shift controls automatic</td>
                            <td>Not Available</td>
                            <td>Not Available</td>
                            <td>Not Available</td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="accordion-inner">
                <h4>Weight & Dimensions</h4>

                <div class="tt-content" style="display: none;">

                    <table class="table table-st1 first-col-bold head-highlight four-cols table-st1-responsive">
                        <thead>
                        <tr>
                            <td colspan="4">Engine</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-full-title">
                            <td colspan="4">Cylinders</td>
                        </tr>
                        <tr>
                            <td class="td-title">Cylinders</td>
                            <td>6 Cylinders</td>
                            <td>6 Cylinders</td>
                            <td>6 Cylinders</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Displacement</td>
                        </tr>
                        <tr>
                            <td class="td-title">Displacement</td>
                            <td>3.5</td>
                            <td>3.5</td>
                            <td>3.5</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Power</td>
                        </tr>
                        <tr>
                            <td class="td-title">Power</td>
                            <td>274</td>
                            <td>274</td>
                            <td>274</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Torque</td>
                        </tr>
                        <tr>
                            <td class="td-title">Torque</td>
                            <td>346</td>
                            <td>346</td>
                            <td>346</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Fuel consumption Km/l</td>
                        </tr>
                        <tr>
                            <td class="td-title">Fuel consumption Km/l</td>
                            <td>12.0</td>
                            <td>12.0</td>
                            <td>12.0</td>

                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-st1 first-col-bold head-highlight four-cols table-st1-responsive">
                        <thead>
                        <tr>
                            <td colspan="4">Transmission</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-full-title">
                            <td colspan="4">6 speed automatic</td>
                        </tr>
                        <tr>
                            <td class="td-title">6 speed automatic</td>
                            <td>Standard</td>
                            <td>Standard</td>
                            <td>Standard</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Front wheel drive</td>
                        </tr>
                        <tr>
                            <td class="td-title">Front wheel drive</td>
                            <td>Standard</td>
                            <td>Standard</td>
                            <td>Standard</td>

                        </tr>
                        <tr class="tr-full-title">
                            <td colspan="4">Paddle shift controls automatic</td>
                        </tr>
                        <tr>
                            <td class="td-title">Paddle shift controls automatic</td>
                            <td>Not Available</td>
                            <td>Not Available</td>
                            <td>Not Available</td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>
</div>
{{> vehicle-overview-quicklinks-promos }}

